---
title: "Email Verification"
source: "https://marketplace.gohighlevel.com/docs/ghl/email-isv/verify-email"
generated_at: "2026-03-28T17:50:27.511030"
tags: ["api", "endpoint", "POST"]
---

# Email Verification

Verify Email

## Endpoint Information

> [!IMPORTANT]
> **Method:** `POST`  
> **URL:** ``

## Code Examples

#### CURL
```curl
{  "reason": [    "mailbox_does_not_exist"  ],  "result": "undeliverable",  "risk": "low",  "address": "abc@xyz.com",  "leadconnectorRecomendation": {    "isEmailValid": false  }}
```

#### NODEJS
```javascript
{  "reason": [    "mailbox_does_not_exist"  ],  "result": "undeliverable",  "risk": "low",  "address": "abc@xyz.com",  "leadconnectorRecomendation": {    "isEmailValid": false  }}
```

#### PYTHON
```python
{  "reason": [    "mailbox_does_not_exist"  ],  "result": "undeliverable",  "risk": "low",  "address": "abc@xyz.com",  "leadconnectorRecomendation": {    "isEmailValid": false  }}
```

#### PHP
```php
{  "reason": [    "mailbox_does_not_exist"  ],  "result": "undeliverable",  "risk": "low",  "address": "abc@xyz.com",  "leadconnectorRecomendation": {    "isEmailValid": false  }}
```

#### JAVA
```java
{  "reason": [    "mailbox_does_not_exist"  ],  "result": "undeliverable",  "risk": "low",  "address": "abc@xyz.com",  "leadconnectorRecomendation": {    "isEmailValid": false  }}
```

#### GO
```go
{  "reason": [    "mailbox_does_not_exist"  ],  "result": "undeliverable",  "risk": "low",  "address": "abc@xyz.com",  "leadconnectorRecomendation": {    "isEmailValid": false  }}
```

#### RUBY
```ruby
{  "reason": [    "mailbox_does_not_exist"  ],  "result": "undeliverable",  "risk": "low",  "address": "abc@xyz.com",  "leadconnectorRecomendation": {    "isEmailValid": false  }}
```

#### POWERSHELL
```powershell
{  "reason": [    "mailbox_does_not_exist"  ],  "result": "undeliverable",  "risk": "low",  "address": "abc@xyz.com",  "leadconnectorRecomendation": {    "isEmailValid": false  }}
```

